.logoTxt {
  font-family: "Lilita One", cursive;
}

.text-style1 {
  font-family: "Passion One", cursive;
}

.text-style2 {
  font-family: "DynaPuff", cursive;
}

.bg-color-1 {
  background-color: #618264;
}
.bg-color-2 {
  background-color: #79ac78;
}
.bg-color-3 {
  background-color: #b0d9b1;
}
.bg-color-4 {
  background-color: #d0e7d2;
}
